.logo {
    width: 25%;
}
#brand-name{
    font-family: cursive;
    color: crimson;
}
.pic{
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}
  
.nav-theme {
    background-color: #101018f8;
    font-size: 18px;
}
  
.animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 1s ease-in-out;
}
  
@keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
}
